:local {
  .window_bar {
    display: flex;
    background: #ddd;
    line-height: 30px;
    align-items: center;
    .left {
      padding-left: 10px;
      color: #999;
    }
    .center {
      flex: 1;
      padding-top: 4px;
      display: flex;
      .drag_area {
        flex: 1;
        -webkit-app-region: drag;
      }
    }
    .right {
      align-items: center;
      display: flex;
      div {
        padding: 0 12px;
        &:hover {
          background: rgba(0, 0, 0, .3);
        }
      }
    }
  }
}
